<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <script src="https://kit.fontawesome.com/7fda48dd8d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body class="home">
    <header class="home__header">
        <figure class="home__header__figure--logo">
            <img src="/img/logo.jpg" alt="logo">
        </figure>
        <a class="home__header__a--bars">
            <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="home__header__nav--menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Quienes</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">sucursales</a></li>
                <li><a href="#">contacto</a></li>
            </ul>
        </nav>
    </header>

    <main class="home__main">
        <div class="home__main__div--baner">
            <img src="/img/img-banner.jpg" alt="Banner">
        </div>

        <section class="home__main__section"><!-- products -->
            <article class="home__main__section__article"><!-- product -->
                <div class="home__main__section__article--box">
                    <img class="imagen-producto" src="/img/img-pdto-1.jpg" alt="Producto 1">
                    <img class="home__main__section__article--image-sticker" src="/img/img-nuevo.png" alt="Stiker nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4>Lorem ipsum dolor sit amet</h4>
                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque nibh, posuere at urna quis, congue sodales elit</P>
                <a class="ver--mas" href="">Ver mas</a>
            </article>

            <article class="home__main__section__article">
                <div class="home__main__section__article--box">
                    <img class="imagen-producto" src="/img/img-pdto-2.jpg" alt="Producto 1">
                    <img class="home__main__section__article--image-sticker" src="/img/img-gratis.png" alt="Stiker nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4>Lorem ipsum dolor sit amet</h4>
                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque nibh, posuere at urna quis, congue sodales elit</P>
                <a class="ver--mas" href="">Ver mas</a>
            </article>

            <article class="home__main__section__article">
                <div class="home__main__section__article--box">
                    <img class="imagen-producto" src="/img/img-pdto-3.jpg" alt="Producto 1">
                    <img class="home__main__section__article--image-sticker" src="/img/img-descuento.png" alt="Stiker nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4>Lorem ipsum dolor sit amet</h4>
                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque nibh, posuere at urna quis, congue sodales elit</P>
                <a class="ver--mas" href="">Ver mas</a>
            </article>

            <article class="home__main__section__article">
                <div class="home__main__section__article--box">
                    <img class="imagen-producto" src="/img/img-pdto-2.jpg" alt="Producto 1">
                    <img class="home__main__section__article--image-sticker" src="/img/img-gratis.png" alt="Stiker nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4>Lorem ipsum dolor sit amet</h4>
                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque nibh, posuere at urna quis, congue sodales elit</P>
                <a class="ver--mas" href="">Ver mas</a>
            </article>

            <article class="home__main__section__article">
                <div class="home__main__section__article--box">
                    <img class="imagen-producto" src="/img/img-pdto-1.jpg" alt="Producto 1">
                    <img class="home__main__section__article--image-sticker" src="/img/img-nuevo.png" alt="Stiker nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4>Lorem ipsum dolor sit amet</h4>
                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque nibh, posuere at urna quis, congue sodales elit</P>
                <a class="ver--mas" href="">Ver mas</a>
            </article>

            <article class="home__main__section__article">
                <div class="home__main__section__article--box">
                    <img class="imagen-producto" src="/img/img-pdto-3.jpg" alt="Producto 1">
                    <img class="home__main__section__article--image-sticker" src="/img/img-descuento.png" alt="Stiker nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4>Lorem ipsum dolor sit amet</h4>
                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque nibh, posuere at urna quis, congue sodales elit</P>
                <a class="ver--mas" href="">Ver mas</a>
            </article>
        </section>
    </main>

    <footer class="home__footer">
        <nav class="home__footer__nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Quienes</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">sucursales</a></li>
                <li><a href="#">contacto</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>